#root {
  width: 100%;
  height: 100%;
  font-family: 'Raleway', sans-serif !important;
}

.btn-pink {
  background-color: #DA0080 !important;
  color: #fff;
  border: none;
}

.text-blue {
  color: #009CDE !important;
  text-decoration: none !important;
}