.form-input {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: left;
    margin-top: 20px;
}

label {
    margin-right: 0%;
    color: #1E120E;
    padding: 2%;
}

input {
    width: 30%;
    color:white;
    border-color: #1E120E;
    border-radius: 5%;
}