.caja-btn{
    width: 100%;
    margin-top: 5px;
    padding-top: 10px;
}

.btn-social{
    width: 100%;
    margin-top: 5px;
    background-color: #fff;
    color: black;
    border-color: #928e8e;
}

.btn-pink {
    width: 95%;
    background-color: #DA0080 !important;
    color: #fff;
    border: none;
  }