.caja-btn{
    width: 100%;
    margin-top: 5px;
    padding-top: 10px;
}

.btn-social{
    width: 100%;
    background-color: #fff;
    color: black;
    border-color: #928e8e;
}

.btn-rosa{
    width: 100%;
    background-color: #DA0080;
    color: white;
}
