.qcosto {
    background-color: #F2EFEA; 
    padding: 10px; 
    border-radius: 8px; 
    width: 70%;
  }
  
  .text-pink {
    color: #DA0080; 
  }
  
  .costo-container {
    margin-top: 10px; 
  }
  