.hero{
    background-color: #FFE400;
    padding: calc(4rem - 30px) 5% 1% 5%;
    border-radius: 3%;
    width: 80%;
    margin: 0 auto;
}

  
  .hero .intro-excerpt {
    position: relative;
    z-index: 4;
  
    @media (min-width: 992px) {
      max-width: 450px;
    }
  }
  
  .hero h1 {
    font-weight: 700;
    color: #1e120e;
    margin-bottom: 30px;
  
    @media (min-width: 1400px) {
      font-size: 54px;
    }
  }
  
  .hero p {
    color:#1e120e;
    margin-bottom: 30px;
  }
  
  .hero .hero-img-wrap,
  .hero .hero-img-wrap img {
    position: relative;
  }
  
  .hero .hero-img-wrap:after {
    content: "";
    position: absolute;
    width: 255px;
    height: 217px;
    background-image: url("../images/dots-light.svg");
    background-size: contain;
    background-repeat: no-repeat;
    right: -100px;
    top: -0px;
  
    @media (min-width: 1200px) {
      top: -40px;
    }
  }
