.caja-logo img{
  width: 25%;
  margin:auto;
  padding: auto;
  height:auto;
}

.splashImg img{
  margin-top: 0%;
  margin-left: -20%;
  width: 100%;
}

.caja-formulario{
  margin-bottom: auto;
}

.btn-social{
  width: 100%;
  margin-top: 5px;
  background-color: #fff;
  color: black;
  border-color: #928e8e;
  margin-top: 2%;
  margin-bottom: 2%;
}

.btn-rosa{
  width: 100%;
  background-color: #DA0080;
  color: white;
  margin-bottom: 1em;
}